<a href="https://colab.research.google.com/github/ogeromerci/ogeromerci.github.io/blob/master/mercy_ogero_24th_october.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Write a python statement to display the sentence "Hello, world "
print("hello, world")

hello, world

In [ ]:
# write a list of 5 objects and display it in the screen
objects = ['car','cup', 'plate', 'spoon','fork']
objects

['car', 'cup', 'plate', 'spoon', 'fork']

In [ ]:
# Create two strings and concantenate them to a thir string
first_string = "mercy"
second_string = "ogero"
combined_string = first_string + second_string
combined_string

'mercyogero'

In [2]:
# Creating a tupple element
tup = (1,2,2,3,4,4,5)
# using the count function to find the number of times four appears
counting = tup.count(4)
counting

2

In [3]:
# Creating an empty dictionary and displaying it on the screen
dict = []
dict

[]

In [6]:
# Creating a dictionary with 3 keys and 3 values
my_dict = {"name":"mercy",
           "age": 24,
           "colour": "pink"}
my_dict

{'name': 'mercy', 'age': 24, 'colour': 'pink'}

In [7]:
# Adding an additional element and displaying it on the screen
my_dict["country"] = "Kenya"
my_dict

{'name': 'mercy', 'age': 24, 'colour': 'pink', 'country': 'Kenya'}

In [9]:
# Creating a dictionary with 3 keys and 3 values where one of the values in a list containing two numeric elements
mercy = {"name":"mercy",
           "age": 24,
           "scores":[16,15],
           "colour": "pink"}
mercy

{'name': 'mercy', 'age': 24, 'scores': [16, 15], 'colour': 'pink'}

In [11]:
# Creating a list of 4 elements
# first element should be a string
# second element should be a tupple with two elements
# third element should be a dictionary with two keys and two values
# fourth value should be a float
new_list = ["Kenya", (3,5), {"name": "mercy", "age":24}, 40.0]
new_list

['Kenya', (3, 5), {'name': 'mercy', 'age': 24}, 40.0]

In [12]:
## EXERCISE 2

In [13]:
# Displaying the first 10 numbers using while loop
i = 1
while i <= 10:
  print(i)
  i += 1

1
2
3
4
5
6
7
8
9
10

In [29]:
k = 19
addition = sum(range(1, k + 1))
print(addition)

TypeError: 'int' object is not callable

In [31]:
# Displaying the multiplication of a given number (7)
numbers = 7
for i in range(1, 11):
    print(f"{numbers} x {i} = {numbers * i}")

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [34]:
# Displaying a list of reverse order using a loop [1,2,3,9,17,-2]
list = [1,2,3,9,17,-2]
for i in range(len(list) - 1, -1, -1):
    print(list[i])

-2
17
9
3
2
1

In [35]:
# printing numbers from - 10 to -1 using a for loop
for i in range(-10, 0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [38]:
# reversing a given number (5412)
number = 5412
reversed_number = int(str(number)[::-1])
print(reversed_number)

2145

In [40]:
# Writing a program to Write a program using a for loop to display the following reverse number pattern
for i in range(5, 2, -1):
    for j in range(i, 0, -1):
        print(j, end=" ")
    print()

5 4 3 2 1
4 3 2 1
3 2 1

In [41]:
# Exercise 3

In [77]:
# 1. Writing a python program to calculate the number of days required for the water level to drop below 1 metre
# Initializing the height of a well
height = 10
decrease_rate = 0.2
days = 0

while height >=1:
  height = height * 0.98
  days += 1

print(f"It will take {days} days for the water level to drop")

It will take 114 days for the water level to drop

In [74]:
# 2. In a game of chance, a player rolls a fair die. If the die lands on 5 or 6, the player wins; otherwise, they lose.
# A. Writing a function that simulates the experiment n times and returns the  number of times the player won.
import random

def roll_die(n):
    wins = 0
    for _ in range(n):
        roll = random.randint(1, 6)  # Roll the die (1 to 6)
        if roll == 5 or roll == 6:
            wins += 1  # Increase wins if 5 or 6 is rolled
    return wins

# Example: Simulate 100 rolls
n = 100
wins = roll_die(n)
print(f"Player won {wins} times out of {n} rolls.")

Player won 35 times out of 100 rolls.

In [47]:
# Modify the first function so that it returns the frequency of cases where the  player won instead What happens as n increases?
def roll_die_frequency(n):
    wins = 0
    for _ in range(n):
        roll = random.randint(1, 6)
        if roll == 5 or roll == 6:
            wins += 1
    return wins / n  # Return frequency of wins

# Example: Simulate 100 rolls
n = 100
frequency = roll_die_frequency(n)
print(f"The frequency of wins after {n} rolls is: {frequency:.2f}")

The frequency of wins after 100 rolls is: 0.27

In [49]:
# Exercise 4
# Sample database (list of dictionaries)
people_db = [
    {"name": "Alice", "height": 145},
    {"name": "Bob", "height": 160},
    {"name": "Charlie", "height": 180},
    {"name": "David", "height": 170}
]

# Function to classify based on height
def classify_height(height):
    if height < 150:
        return "Short"
    elif 150 <= height < 175:
        return "Medium"
    else:
        return "Tall"

# Add a new column with the height classification
for person in people_db:
    person["height_category"] = classify_height(person["height"])

# Display the updated database
for person in people_db:
    print(person)

{'name': 'Alice', 'height': 145, 'height_category': 'Short'}
{'name': 'Bob', 'height': 160, 'height_category': 'Medium'}
{'name': 'Charlie', 'height': 180, 'height_category': 'Tall'}
{'name': 'David', 'height': 170, 'height_category': 'Medium'}

In [ ]:
# SECTION II

In [51]:
# PART 1
# EXERCISE 1: VARIABLES AND TYPES
# Declare two variables( intergers and float) and print their types
integer = 7
float = 7.4

print(type(integer_variable))
print(type(float_variable))

<class 'int'>
<class 'float'>

In [60]:
# Convert a float to an interger and an interger to a float


# converting the float to an interger
decimal_number = int(7.4)
# converting the interger to a float
#interger_number = float(3)

print(type(decimal_number))
print(type(interger_number))

TypeError: 'float' object is not callable

In [67]:
# Concatenating two strings entered by the user
first_string = input("Enter the first string: ")
second_string = input("Enter the second string: ")

# Concatenate the strings
concatenated_string = first_string + " " + second_string

# Display the result
print("Concatenated string:"+ concatenated_string)

Enter the first string: mercy
Enter the second string: oger
Concatenated string:mercy oger

In [72]:
# Checking a variable type provided by the user
user_input = input("Enter a value: ")
print(f"This is the variable type: {type(user_input)}")

Enter a value: 6
This is the variable type: <class 'str'>