### Analysis of Kenya`s Public Debt Dataset (2021)

In [1]:
# get the pandas library 
import pandas as pd

In [2]:
# create a data frame object and read the downloaded dataset 
kenya_debt = pd.read_csv("Public Debt (Ksh Million).csv")

In [3]:
kenya_debt

     Year      Month Domestic Debt External Debt         Total
0    2021   December  4,032,368.18  4,174,371.53  8,206,739.71
1    2021   November  4,008,077.30  4,109,282.85  8,117,360.15
2    2021    October  3,959,523.30  4,083,124.54  8,042,647.84
3    2021  September  3,937,777.45  4,062,504.78  8,000,282.23
4    2021     August  3,864,875.78  4,054,862.85  7,919,738.63
..    ...        ...           ...           ...           ...
257  2000       July    202,362.00    394,667.37    597,029.37
258  2000       June    206,127.00    395,694.00    601,821.00
259  2000      March    201,463.22    396,800.00    598,263.22
260  1999   December    190,300.00    311,953.00    502,253.00
261  1999  September    183,417.00    320,137.00    503,554.00

[262 rows x 5 columns]

In [4]:
# rows and columns present in the dataset 
kenya_debt.shape

(262, 5)

In [5]:
kenya_debt.head(3)

   Year     Month Domestic Debt External Debt         Total
0  2021  December  4,032,368.18  4,174,371.53  8,206,739.71
1  2021  November  4,008,077.30  4,109,282.85  8,117,360.15
2  2021   October  3,959,523.30  4,083,124.54  8,042,647.84

In [6]:
# what do the last three rows look like?
kenya_debt.tail(3)

     Year      Month Domestic Debt External Debt       Total
259  2000      March    201,463.22    396,800.00  598,263.22
260  1999   December    190,300.00    311,953.00  502,253.00
261  1999  September    183,417.00    320,137.00  503,554.00

In [12]:
#does the rows and headers make sense?
# can we verify the total column total
kenya_debt.head()

   Year      Month Domestic Debt External Debt         Total
0  2021   December  4,032,368.18  4,174,371.53  8,206,739.71
1  2021   November  4,008,077.30  4,109,282.85  8,117,360.15
2  2021    October  3,959,523.30  4,083,124.54  8,042,647.84
3  2021  September  3,937,777.45  4,062,504.78  8,000,282.23
4  2021     August  3,864,875.78  4,054,862.85  7,919,738.63

In [15]:
# what about random mid-level rows? 
kenya_debt.loc[[220,221,222]]

     Year   Month Domestic Debt External Debt       Total
220  2003  August    295,494.51    397,991.28  693,485.79
221  2003    July    292,277.47    398,532.85  690,810.32
222  2003    June    289,376.97    407,053.00  696,429.97

In [19]:
#.loc method gives the specific value. The .loc method takes the position of the row and the name of the column domestic_debt = kenya_debt.loc[0]["Domestic Debt"]
domestic_debt

'4,032,368.18'

In [35]:
domestic_debt = int(float(kenya_debt.loc[0]["Domestic Debt"].replace(',', '')))
domestic_debt
external_debt = int(float(kenya_debt.loc[0]["External Debt"].replace(',', '')))
external_debt
total_debt1 = (float(kenya_debt.loc[9]["Total"].replace(',', '')))
total_debt1
total_debt = domestic_debt + external_debt
total_debt

8206739

In [36]:
total_debt1

7339707.31

In [17]:
total_debt = str(domestic_debt) + str(external_debt)
total_debt

'4,032,368.184,174,371.53'

In [20]:
total_debt1 = kenya_debt.loc[0]["Total"]
total_debt1

'8,206,739.71'

In [21]:
kenya_debt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 262 entries, 0 to 261
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Year           262 non-null    int64
 1   Month          262 non-null    object
 2   Domestic Debt  262 non-null    object
 3   External Debt  262 non-null    object
 4   Total          262 non-null    object
dtypes: int64(1), object(4)
memory usage: 10.4+ KB

In [47]:
total_debt2 = int(float(total_debt))
total_debt2

8206739

In [24]:
float(kenya_debt.loc[0]["Total"])

ValueError: could not convert string to float: '8,206,739.71'

In [25]:
my_str = kenya_debt.loc[0]["Domestic Debt"]

In [26]:
my_str

'4,032,368.18'

In [27]:
# changes the string to float by removing commas
my_good_str = my_str.replace(',','')
my_good_str

'4032368.18'

In [28]:
float(my_good_str)

4032368.18

In [29]:
# requires we float first before changing it to an interger
int(float(my_good_str))

4032368

In [39]:
kenya_debt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 262 entries, 0 to 261
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Year           262 non-null    int64
 1   Month          262 non-null    object
 2   Domestic Debt  262 non-null    object
 3   External Debt  262 non-null    object
 4   Total          262 non-null    object
dtypes: int64(1), object(4)
memory usage: 10.4+ KB

In [40]:
kenya_debt["Domestic Debt"]

0      4,032,368.18
1      4,008,077.30
2      3,959,523.30
3      3,937,777.45
4      3,864,875.78
           ...
257      202,362.00
258      206,127.00
259      201,463.22
260      190,300.00
261      183,417.00
Name: Domestic Debt, Length: 262, dtype: object

In [42]:
# using.loc method, the column name returns the entire row without specifying the column name 
kenya_debt.loc[4]

Year                     2021
Month                  August
Domestic Debt    3,864,875.78
External Debt    4,054,862.85
Total            7,919,738.63
Name: 4, dtype: object

In [46]:
kenya_debt.iloc[8:10,3:]

  External Debt         Total
8  3,778,131.44  7,411,046.24
9  3,769,866.74  7,339,707.31