## PYTHON FUNDAMENTALS REVISION

In [2]:
print("Hello World")

Hello World

In [34]:
mercy = "ogero"
hello_kenya  = "jambo"

mercy
hello_kenya

'jambo'

## Python Indentation

In [4]:
# Indent using the space bar or use 5 key spaces

In [11]:
if 5 > 2:
    print("Its less")

Its less

## Python Comments

In [12]:
# This is me creating a comment.

In [13]:
# code below checks if 5 is greater than 2
if 5 > 2:
    print("Its less")

Its less

In [16]:
# using three single quotes are multi_line comments. Its used at the start and the end of the code
"""
# code below checks if 5 is greater than 2
# if its greater than 2
# then print a confirmation statement 
"""
if 5 > 2:
    print("Its less")

Its less

In [18]:
'''
# Variable Names
snake cases = kenya_today is is snake case because there is an underscore
camel cases = myTown is a snake case because it has a capital letter in between
The snake case is the most widely used
'''

'\n# Variable Names\nsnake cases = kenya_today is is snake case because there is an underscore\ncamel cases = myTown is a snake case because it has a capital letter in between\nThe snake case is the most widely used\n'

## Many Values to Multiple Variables

In [25]:
kisii_city, kisumu_city, mombasa_city = "kisii", "kisumu", "mombasa"

In [28]:
kisii_city
kisumu_city

'kisumu'

# Python Data Types

- Text types
      Strings : str
-Numeric Types
    - Intergers : int
    - Float : float
- Sequences
     -Lists - can repeat items
     -Tuples
     - sets - do not have repeating items
- Mapping
      - Dictionary
- True/False Category
      - Boolean

In [46]:
my_var = 123.9876

In [ ]:
# python casting is changing a data type

In [65]:
round(float(my_var),2)

123.99

In [51]:
str(my_var)

'123.9876'

In [52]:
my_list = [23, 63, 78, 43, 23, 78]

In [53]:
len(my_list)

6

In [54]:
set(my_list)

{23, 43, 63, 78}

In [55]:
len(set(my_list))

4

In [ ]:
# sets do not have repeating items while lists can hold repeating items

In [57]:
# the data type boolean checks if there is a variable in the code called myvar. if there is a variable, the output will be true
bool(my_var)

True

In [63]:
delivery_status = "picked"

In [64]:
if bool(delivery_status)
    print("Your order has been picked")

SyntaxError: expected ':' (4136144559.py, line 1)

## Quick Python Mathematics

In [66]:
# addition
1+1

2

In [67]:
# subtraction
2-1

1

In [69]:
# Division # The output of division in Python is usually a float
6/2

3.0

In [70]:
# Multiplication 
2*2

4

In [72]:
# Square
2**2

4

In [73]:
# Square root 
import math

In [74]:
math.sqrt(4)

2.0

In [75]:
math?

Type:        module
String form: <module 'math' (built-in)>
Docstring:
This module provides access to the mathematical functions
defined by the C standard.

In [76]:
# round to a decimal point 
round(4.67, 1)

4.7

In [78]:
# gets the maximum of two numbers 
max(4,9)

In [79]:
min(5,9)

5

## Strings

In [90]:
my_testimony = "I beleive in God, the Holy Trinity"

In [92]:
my_testimony[0:]

'I beleive in God, the Holy Trinity'

In [95]:
# every single item in the sentence is being counted, even for the spaces. 
for letter in my_testimony:
    print(letter)
    break

I

In [96]:
my_testimony.upper()

'I BELEIVE IN GOD, THE HOLY TRINITY'

In [98]:
my_testimony.replace("the Holy Trinity", "Almighty God")

'I beleive in God, Almighty God'

In [99]:
my_testimony.replace("God", "Father")

'I beleive in Father, the Holy Trinity'

In [103]:
my_testimony.replace('I', 'we')

'we beleive in God, the Holy Trinity'

In [105]:
# concatenation
the_song = "my song"
the_song1 = "is today"
the_song2 = "and tomorrow"

In [118]:
concat?

Object `concat` not found.

In [115]:
total_song = concat(the_song, the_song1, the_song2)

NameError: name 'concat' is not defined

In [106]:
the_song + "" + the_song1 + "" + the_song2

'my songis todayand tomorrow'

In [113]:
print(f"{the_song} {the_song1} \"we I agree\" {the_song2}")

my song is today "we I agree" and tomorrow

In [117]:
print(f"{the_song} {the_song1} \children\ {the_song2}")

my song is today \children\ and tomorrow

In [126]:
x = "children"

In [132]:
# To escape a character use double escape characters 
print(f"\"{x}\"")

"children"

In [124]:
print(f"children")

children

### LISTS

In [102]:
# reverse this statement 
fruits = ["oranges", "lemon", "pineapples"]