In [1]:
### PYTHON ANALYSIS

In [6]:
### Write a Python Function to find the maximum of three numbers

def find_max_three_num(a,b,c):
    return max(a,b,c)

In [7]:
find_max_three_num(1,2,3)

3

In [8]:
# Write a function to sum all the numbers in the line
# option 1
def sum_of_numbers(a,b,c,d,e):
    total_sum = a + b + c + d + e
    return total_sum

In [9]:
sum_of_numbers(8,2,3,0,7)

20

In [10]:
#option 2
def find_sum_of_num(list):
    total = 0
    for num in list:
        total += num
    return total

In [11]:
find_sum_of_num([8,2,7])

17

In [12]:
#option 3
def number_sum(a,b):
    return sum([a,b])

In [13]:
number_sum(1,3)

4

In [14]:
# Question 3
# option 2
def multiply_numbers(a,b,c,d,e):
    multiplication_total = a * b * c * d * e
    return multiplication_total

In [15]:
multiply_numbers(8,2,3,-1,7)

-336

In [16]:
multiply_numbers(8,1,1,1,1)

8

In [17]:
# option 2 
# using functions
def multiply_numbers(my_multiples):
    product = 1
    for num in my_multiples:
        product*= num
    return product

In [18]:
multiply_numbers([3,3,5,5,1])

225

In [19]:
# Question 4
# Write a Python program to reverse a string 
def reverse_string(string):
    return string

In [20]:
reverse_string("1234abcd")

'1234abcd'

In [21]:
#Question 6
# write a Python program to check whether the number falls within the given range
def within_range(number):
    if number in range(10,100):
        print(f'{number} is in range')
    else: 
         print(f'{number} not in range')

In [22]:
  within_range(105)

105 not in range

In [23]:
#Question 7
# write a Python function that accepts a string and counts the number of upper case and the lower case letters
# Sample String: The quick brown fox
# Expected Output :
# No of upper case characters: 3
# No of lower case characters: 12
def check_string(str):
    lower_case = 0
    upper_case = 0
    for char in str:
        if char.islower():
            lower_case =+ 1
        elif char.isupper():
            upper_case =+ 1
        return lower_case, upper_case

In [24]:
 check_string('The quick brown fox')

(0, 1)

In [25]:
# Question 8
# Write a python function that takes a list and returns a new list with distinct elements from the list
def unique_elements(sample_list):
    return list(set(sample_list))

In [26]:
new_list = unique_elements([1,2,3,3,3,3,4,5])
new_list

[1, 2, 3, 4, 5]

In [27]:
Question 9
# write a python program to print specified list after removing the 0th, 4th and 5th elements
# sample list : ["red", "green", "white", "black", "pink", "yellow"]
# Expected output : ["Green", "White", Black"]
sample_list = ["red", "green", "white", "black", "pink", "yellow"]
def specified_list(sample_list):
    return sample_list[1:4]

SyntaxError: invalid syntax (23061395.py, line 1)

In [28]:
sample_list = ["red", "green", "white", "black", "pink", "yellow"]

In [29]:
sample_list.remove("pink")
sample_list.remove("yellow")

In [30]:
sample_list

['red', 'green', 'white', 'black']

In [31]:
## Question 9
# Write a python script to sort (ascending and descending) a dictionary by key
#dictionary = {1:10, 2:20, 3;30}
my_dict = {1:10, 2:20, 3:30}
my_sorted_dict = sorted(my_dict.items(),key = lambda x:x[1], reverse = True)
my_sorted_dict1 = dict(my_sorted_dict)
my_sorted_dict1

{3: 30, 2: 20, 1: 10}

In [32]:
## Question 10
#write a code to concatenate a dictionary

dict1 = {1:10, 2:20}
dict2 = {3:30, 4:40}
dict3 = {5:50, 6:60}

new_dict = {}
new_dict.update(dict1)
new_dict.update(dict2)
new_dict.update(dict3)
new_dict

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}