# PYTHON STATSMODEL

In [17]:
#***Groups - total representation - The Whole

#** Samples ** Representation of the whole

In [66]:
# libs
import numpy as np
import statsmodels
import pandas as pd
import statistics as st

In [19]:

# read the public debt file
data_source = "C:\\Users\\Lenovo\\OneDrive\\Documents\\UADSL\\PYTHON\\DATA\\Public Debt (Ksh Million).csv"
df = pd.read_csv(data_source)

In [12]:
df

     Year      Month Domestic Debt External Debt         Total
0    2021   December  4,032,368.18  4,174,371.53  8,206,739.71
1    2021   November  4,008,077.30  4,109,282.85  8,117,360.15
2    2021    October  3,959,523.30  4,083,124.54  8,042,647.84
3    2021  September  3,937,777.45  4,062,504.78  8,000,282.23
4    2021     August  3,864,875.78  4,054,862.85  7,919,738.63
..    ...        ...           ...           ...           ...
257  2000       July    202,362.00    394,667.37    597,029.37
258  2000       June    206,127.00    395,694.00    601,821.00
259  2000      March    201,463.22    396,800.00    598,263.22
260  1999   December    190,300.00    311,953.00    502,253.00
261  1999  September    183,417.00    320,137.00    503,554.00

[262 rows x 5 columns]

In [23]:
# Domestic Debt
df['Domestic Debt'] = df['Domestic Debt'].apply(lambda x : x.replace(',',''))
df['Domestic Debt'] = df['Domestic Debt'].apply(lambda x : float(x))

# External debt
df['External Debt'] = df['External Debt'].apply(lambda x : x.replace(',',''))
df['External Debt'] = df['External Debt'].apply(lambda x : float(x))

# Total
df['Total'] = df['Total'].apply(lambda x : x.replace(',',''))
df['Total'] = df['Total'].apply(lambda x : float(x))

In [14]:
df["Domestic Debt"]

0      4032368.18
1      4008077.30
2      3959523.30
3      3937777.45
4      3864875.78
          ...
257     202362.00
258     206127.00
259     201463.22
260     190300.00
261     183417.00
Name: Domestic Debt, Length: 262, dtype: float64

In [15]:
df["External Debt"]

0      4174371.53
1      4109282.85
2      4083124.54
3      4062504.78
4      4054862.85
          ...
257     394667.37
258     395694.00
259     396800.00
260     311953.00
261     320137.00
Name: External Debt, Length: 262, dtype: float64

In [16]:
df["Total"]

0      8206739.71
1      8117360.15
2      8042647.84
3      8000282.23
4      7919738.63
          ...
257     597029.37
258     601821.00
259     598263.22
260     502253.00
261     503554.00
Name: Total, Length: 262, dtype: float64

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 262 entries, 0 to 261
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Year           262 non-null    int64
 1   Month          262 non-null    object
 2   Domestic Debt  262 non-null    float64
 3   External Debt  262 non-null    float64
 4   Total          262 non-null    float64
dtypes: float64(3), int64(1), object(1)
memory usage: 10.4+ KB

In [25]:
df.describe()

              Year  Domestic Debt  External Debt         Total
count   262.000000   2.620000e+02   2.620000e+02  2.620000e+02
mean   2010.572519   1.166927e+06   1.213153e+06  2.380080e+06
std       6.327015   1.058535e+06   1.104623e+06  2.159117e+06
min    1999.000000   1.834170e+05   3.119530e+05  5.022530e+05
25%    2005.000000   3.262354e+05   4.175753e+05  7.512072e+05
50%    2011.000000   7.328289e+05   6.230025e+05  1.361437e+06
75%    2016.000000   1.813763e+06   1.801866e+06  3.615630e+06
max    2021.000000   4.032368e+06   4.174372e+06  8.206740e+06

In [29]:
# STATISTICAL SUMMARIES
# maximum
df["External Debt"].max()

# mean
df["External Debt"].mean()

# Standard deviation
df['External Debt'].std()

1104622.8207068825

In [30]:
# using numpy
# using numpy is much better than using dataframe
np.mean(df["External Debt"])

1213152.6395419845

In [31]:
np.std(df["External Debt"])

1102512.7465342989

In [67]:
# mean
np.mean(df["External Debt"])

# median
np.median(df["External Debt"])

623002.505

In [56]:
# count 
len(df["External Debt"])

262

In [48]:
# mode
statistics.mode(df["External Debt"])

4174371.53

In [58]:
# first quartile
np.percentile(df["External Debt"], 25)

1801866.32

In [57]:
# median or second quartile
np.percentile(df["External Debt"], 50)

623002.505

In [59]:
# third quartile
np.percentile(df["External Debt"], 75)

1801866.32

In [60]:
# 10th percentile 
np.percentile(df["External Debt"], 10)

394770.033